*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

@font-face {
    font-family: "Netflix Sans";
    src: url('fonts/Netflix\ Sans\ Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: "Netflix Sans";
    src: url('fonts/Netflix\ Sans\ Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: "Netflix Sans";
    src: url('fonts/Netflix\ Sans\ Bold.otf') format('opentype');
    font-weight: 700;
}

body{
    background: black;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
}

nav select{
    border: 0;
    outline: 0;
    background: #15141269;
    color: white;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
}

nav option{
    font-weight: 500;
}

/* Header Content */
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 25px;
}

.header-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    max-width: 650px;
}

.header-content h3{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.header-content p{
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Email Form Sign Up */
.email-form{
    background-color: #1010106b;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-form button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 500;
    
}

.email-form input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background-color: #1010106b;
    font-weight: 500;
    color: white;
    font-size: 20px;
}

/* Reasons Container */
.reasonsHeader{
    padding: 10px;
    width: 80vw;
    margin-top: 20px;
    font-weight: 500;
}

.reasons{
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    width: 80vw;
}

.reasonContainer{
    background-image: linear-gradient(-45deg, #192043, #210E18);
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    height: 15em;
}

.reasonTitle h3{
    font-weight: 500;
    font-size: 24px;
}

.reasonItem p{
    margin-top: 10px;
}

@media (max-width: 1280px) { 
    .reasons {
      grid-template-columns: repeat(2, 1fr); 
      gap: 1px; 
    }

    .reasonContainer{
        height: 10em;
    }
  }
  
@media (max-width: 960px) { 
    .reasons {
      grid-template-columns: 1fr; 
      gap: 1px; 
    }

    .reasonContainer{
        height: 10em;
    }
  }


.qLogo{
    margin: 10px;
    font-weight: 500;
}

.accordion{
    margin: auto;
    width: 80vw;
}

.accordion li{
    list-style: none;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: #414141;
    color: white;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-size: 24px;
}

label::before{
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s, padding 0.2s;
}

.accordion .content p{
    font-size: 24px;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
    content: "-";
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer div{
    margin: auto;
    margin-top: 30px;
}

.footer form{
    width: 600px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.footer .questions{
    margin-bottom: 30px;
    width: 80%;
}